<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LPU Connect</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/customCss.css" rel="stylesheet" />
</head>
<body>
    <div id="navbar-inverse" class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-default navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LPU Connect", "", "", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse">
                @if (Request.IsAuthenticated) {
                    <ul class="nav navbar-nav">
                        @if (ViewBag.VerifiedUser == "true") {
                            <li class="livesearch navbar-left" id="livesearch">
                                <div class="input-group">
                                    <input type="text" id="searchText" placeholder="Search and Connect" />
                                    <ul id="liveSearchul"></ul>
                                </div>
                            </li>
                        } else {
                            <li>
                                <span class="text-danger livesearch navbar-left" style="font-size:22px">Verification Pending</span>
                            </li>
                        }
                    </ul>
                        <ul class="navbar-right">
                            <li id="profileData">
                                @if (ViewBag.Requests != null) {
                                    <div class="requestIcon">
                                        <span class="notif red @User.Identity.Name">
                                            <i class="fa fa-user-plus"></i>
                                            <span>
                                                @ViewBag.Requests
                                            </span>
                                        </span>
                                    </div>
                                } else {
                                    <div class="requestIcon">
                                        <span class="notif @User.Identity.Name">
                                            <i class="fa fa-user-plus"></i>
                                            <span></span>
                                        </span>
                                    </div>
                                }
                                <ul id="reqNotifyul"></ul>
                            </li>
                            <li id="profileData">
                                <a href="@User.Identity.Name" id="profileData">&nbsp;Profile&nbsp;</a>
                            </li>
                            <li id="profileData">
                                @Html.ActionLink("Logout", "Logout", "Account", new { @id = "profileData" })
                            </li>
                        </ul>
                } else {
                    <div class="collapse navbar-collapse" id="myNavbar">
                        @Html.Action("LoginPartial", "Account")
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="chatboxholder" id="chb@(User.Identity.Name)"></div>
    <div class="chatbox hidden">
        <h4><span></span></h4>
        <div class="chatboxtext"></div>
        <textarea class="chattextarea"></textarea>
        <br />
        <a href="#" class="sendchat">send</a>
    </div>
    <div style="padding-bottom:200px"></div>
    <footer class="bottom">
        <p>&copy; @DateTime.Now.Year - LPU Connect</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
