<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LPU Connect</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/customCss.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LPU Connect", "", "", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @if (Request.IsAuthenticated) {
                <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
                    <li class="livesearch" id="livesearch">
                        <div class="input-group">
                            <input type="text" id="searchText" placeholder="Search and Connect" />
                            <ul id="liveSearchul"></ul>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="/@User.Identity.Name" id="profileData">@ViewBag.FullName</a>
                            <span data-toggle="dropdown" class=" dropdown-toggle logout">
                                <span class="caret"></span>
                            </span>
                            <ul class="dropdown-menu">
                                <li>
                                    @*<li class="divider"></li>*@
                                <li>
                                    @Html.ActionLink("Logout", "Logout", "Account")
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            } else {
                <div class="collapse navbar-collapse" id="myNavbar">
                    @Html.Action("LoginPartial", "Account")
                </div>
            }
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="navbar-fixed-bottom">
        <p>&copy; @DateTime.Now.Year - LPU Connect</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
