@model Connect.Models.ViewModel.RegisterVM

@{
    ViewBag.Title = "Index";
}
<div class="container">
    @using (Html.BeginForm("CreateAccount", "Account", FormMethod.Post, new { enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-4">
            <div style="margin:20px"></div>
            <label class="label-control">Choose User Type</label>
            @Html.DropDownList("Role", new List<SelectListItem>() { new SelectListItem() { Text = "Faculty", Value = "1" }, new SelectListItem { Text = "Student", Value = "2" } }, "Select Role", new { @id = "Role", @class = "pass input div-toggle", data_target = ".register" })
        </div>
        <div id="register">
            <div class="col-md-4">
                <div class="logbox">
                    <h1 class="text-primary">Create a new Account</h1>
                    <!-- #region Profile pic -->
                    <img src="~/Content/Avatar.svg" id="profilePic" class="img-responsive img-thumbnail col-md-offset-2 pass input" alt="your image" />
                    <input type="file" name="file" ID="ImageUpload" class="col-md-offset-2" />
                    <!-- #endregion -->
                    <div class="form-inline">
                        <!-- #region Firstname -->
                        @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "input", placeholder = "Firstname" } })
                        @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger validation" })
                        <!-- #endregion -->
                        <!-- #region Lastname -->
                        @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "input", placeholder = "Surname" } })
                        @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger validation" })
                        <!-- #endregion -->
                    </div>
                    <!-- #region Username -->
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "input pass", placeholder = "Username" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger validation" })
                    <!-- #endregion -->
                    <!-- #region Email -->
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input pass", placeholder = "Email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger validation" })
                    <!-- #endregion -->
                    <!-- #region Employee Id-->
                    @Html.EditorFor(model => model.LpuId, new { htmlAttributes = new { @class = "input pass", placeholder = "RegId/EmpId" } })
                    @Html.ValidationMessageFor(model => model.LpuId, "", new { @class = "text-danger validation" })
                    <!-- #endregion -->
                    <!-- #region City -->
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "input pass", placeholder = "City" } })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger validation" })
                    <!-- #endregion -->
                    <div class="facultyInput">
                        <!-- #region Department -->
                        @Html.DropDownListFor(model => model.Department, new SelectList(ViewBag.Department, "DepartmentId", "DepartmentName"), new { @id = "Department", @class = "pass input" })
                        <!-- #endregion -->
                        <!-- #region Title -->
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "input pass", placeholder = "Title" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger validation" })
                        <!-- #endregion -->
                        <!-- #endregion -->
                        <!-- #region From -->
                        @Html.DropDownList("FromYear", new List<SelectListItem>
                        () { new SelectListItem() { Text = "2014", Value = "2014" }, new SelectListItem { Text = "2015", Value = "2015" } }, "From Year", new { @class = "pass input" })
                        <!-- #endregion -->
                        <!-- #region To -->
                        @Html.DropDownList("ToYear", new List<SelectListItem>
                        () { new SelectListItem() { Text = "2015", Value = "2015" } }, "To Year", new { @class = "pass input" })
                        <!-- #endregion -->
                        <!-- #region Currently working -->
                        <div class="col-lg-offset-1 col-lg-11">
                            @Html.CheckBox("CurrentlyWorking")Currently Working?
                        </div>
                        <!-- #endregion -->
                    </div>
                    <div class="studentInput">
                        <!-- #region Courses -->
                        @Html.DropDownListFor(model => model.Course, new SelectList(ViewBag.Courses, "CourseId", "CourseName"), "Select Course", new { @class = "pass input" })
                        <!-- #endregion -->
                        <!-- #region Branch -->
                        @Html.DropDownListFor(model => model.Branch,
                                 new SelectList(string.Empty,"Value","Text"), new { @class = "input pass" })
                    </div>
                    <!-- #endregion -->
                    <!-- #region Password -->
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input pass", placeholder = "Password", type = "password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger validation" })
                    <!-- #endregion -->
                    <!-- #region Confirm Password -->
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "input pass", placeholder = "Confirm Password", type = "password" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger validation" })
                    <!-- #endregion -->
                    <!-- #region Submit button -->
                    <input type="submit" value="Go" class="inputButton btn-primary" />
                    <!-- #endregion -->
                </div>
                <!-- #endregion -->
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/Index.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}