@model Connect.Models.SelfIntro


<script src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<a href="#" id="updateIntroButton" data-target="#updateIntroModal" data-toggle="modal"><i class="glyphicon glyphicon-pencil"></i></a>
<div class="modal fade" id="updateIntroModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span></button>
                <h4 class="modal-title">Update Intro</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("IntroUpdate", "Account", FormMethod.Post)) {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.IntroId)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Intro, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Intro, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Intro, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-save">&nbsp;</i>Update</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>