@model Connect.Models.ViewModel.SkillsVM


@{
    Layout = null;
}
<script src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<button id="skillModalButton" data-target="#skillModal" data-toggle="modal" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>Add</button>
<div class="modal fade" id="skillModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span></button>
                <h4 class="modal-title">Add Skills</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Skill", "Account", FormMethod.Post, new { @id = "skillForm" })) {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                @Html.DropDownListFor(model => model.SkillId, new SelectList(ViewBag.Skills, "SkillId", "SkillName"),"---Choose Skill---", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SkillId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-save">&nbsp;</i>Save</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>