@{
    ViewBag.Title = ViewBag.Username;
}

<link href="~/assets/css/styles.css" rel="stylesheet" />
<link href="~/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<div style="padding-top:32px"></div>
<div class="wrapper">
    <div class="sidebar-wrapper">
        <div class="profile-container">
            <img class="profile img img-circle img-responsive" src="~/Uploads/@ViewBag.UserImage" alt="profile pic" />
            <h1 class="name">
                @ViewBag.FullName
                <span style="font-weight:bold" class="tagline">(@ViewBag.Role)</span>
            </h1>
            @if (@ViewBag.EntryYear != null) {
                <h3 class="batch">
                    <span class="year">
                        Batch -
                    </span>
                    @ViewBag.EntryYear
                </h3>
            } else if (@ViewBag.From != null) {
                <h3 class="batch">
                    <span class="year">
                        Since -
                    </span>
                    @ViewBag.From
                </h3>
            }

            <!-- #region Connect-->
            @if (ViewBag.UserType == "guest") {
                <div class="item">
                    @if (ViewBag.Friends == "Pending") {
                        <div class="isFriendDiv alert alert-warning">
                            <p>Pending request</p>
                        </div>
                    } else if (ViewBag.Friends == "True") {
                        <div class="isFriendDiv alert">
                            <button id="connectModal" class="btn btn-primary">Connect</button>
                            <div class="modal fade" id="connectionRequestModal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 style="color:#337ab7">Send Request</h4>
                                        </div>
                                        <div class="modal-body">
                                            @if (ViewBag.userType == "guest") {
                                                <!--Message area-->
                                                <div class="summary sendmsgParent">
                                                    <div class="msgtxtarea">
                                                        <textarea id="msgarea" placeholder="type your message here.." class="msgTextArea"></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    <button type="button" id="hideModal" class="connect sendmsg btn btn-primary" data-dismiss="modal">Connect</button>
                                                </div>
                                            }
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        </div>
                    } else {
                        <div class="isFriendDiv alert alert-success">
                            <span class="fa fa-thumbs-up"></span>
                            Connected
                        </div>
                    }
                </div>
            }
            <!-- #region Connections/Followers -->
            @if (ViewBag.Connection != null) {
                <span class="fa fa-users friendCount @User.Identity.Name">Connection(s) - <span>@ViewBag.Connection</span></span>
            } else {
                <span class="fa fa-users friendCount @User.Identity.Name">>Connection(s) - <span>@ViewBag.Connection</span></span>
            }
            <!-- #endregion Followers-->
            <!-- #endregion Connect Button-->
        </div><!--//profile-container-->

        <div class="contact-container container-block">
            <ul class="list-unstyled contact-list">
                <li class="email">
                    <i class="fa fa-home"></i>
                    <span>@ViewBag.City</span>
                </li>
                <li class="email">
                    <i class="glyphicon glyphicon-envelope"></i>
                    <a href="mailto: @ViewBag.Email">&nbsp;@ViewBag.Email</a>
                </li>
            </ul>
        </div>

        @if (ViewBag.Course != null) {
            <div class="education-container container-block">
                <h2 class="container-block-title">
                    <i class="fa fa-graduation-cap"></i>Education
                </h2>
                <div class="item">
                    <h4 class="degree">@ViewBag.Course</h4>
                    <h5 class="meta">Lovely Professional University</h5>
                    <div class="time">@ViewBag.EntryYear - @ViewBag.GraduateYear</div>
                </div><!--//item-->
            </div><!--//education-container-->
        } else if (ViewBag.Department != null) {
            <div class="education-container container-block">
                <h2 class="container-block-title">
                    <i class="fa fa-briefcase"></i>&nbsp;Department
                </h2>
                <div class="item">
                    <h4 class="degree">@ViewBag.Department</h4>
                    <h5 class="meta">Lovely Professional University</h5>
                    <div class="time">@ViewBag.From</div>
                </div><!--//item-->
            </div><!--//department-container-->
        }
    </div><!--//sidebar-wrapper-->
    <div class="main-wrapper">

        <section class="section summary-section">
            <h2 class="section-title">
                <i class="fa fa-comment"></i>Bio
            </h2>
        </section><!--//section-->
        <!-- #Education region -->
        <section class="section education-section">
            <h2 class="section-title" style="display:inline-block">
                <i class="fa fa-graduation-cap"></i>Education
            </h2>
            @if (ViewBag.UserType == "owner") {
                @Html.Action("EducationPartial", "Account")
            }
            @if (ViewBag.UserType != null) {
                if (ViewBag.Education != null) {
                    foreach (var item in ViewBag.Education) {
                        <div class="item">
                            <h4 class="degree">@item.Degree.DegreeName</h4>
                            <h5 class="meta">@item.School</h5>
                            <h5 class="meta">@item.Course</h5>
            <div class="meta">@item.EduFrom - @item.EduTo</div>
        </div><!--//item-->
                    }
                } else {
                    <p>No record</p>
                }
            }
        </section>


        <section class="section experiences-section">
            <h2 class="section-title" style="display:inline-block">
                <i class="fa fa-briefcase"></i>Experiences
            </h2>
            @if (ViewBag.UserType == "owner") {
                @Html.Action("WorkExperiencePartial", "Account")
            }
        </section><!--//section-->

        <section class="section projects-section">
            <h2 class="section-title">
                <i class="fa fa-archive"></i>Projects
            </h2>
            <div class="item">
                <span class="project-title"><a href="https://github.com/syntacticalpro/LPU-Connect" target="_blank">LPU Connect</a></span> -
                <span class="project-tagline">A web-based application that will connect all the students and faculties of Lovely Professional University with each other. The main objective of this application is to remove the connection gap between the students and faculties of same and different departments.</span>
            </div><!--//item-->
            <div class="item">
                <span class="project-title"><a href="http://www.syntacticalpro.com/" target="_blank">Hotel Prabhat</a></span> -
                <span class="project-tagline">
                    A web-based application coming soon
                </span>
            </div><!--//item-->
            <div class="item">
                <span class="project-title"><a href="http://www.syntacticalpro.com/" target="_blank">Hotel Prabhat</a></span> -
                <span class="project-tagline">A cross-platfrom mobile application coming soon </span>
            </div><!--//item-->
            <div class="item">
                <span class="project-title"><a href="http://www.syntacticalpro.com/" target="_blank">Hotel Prabhat</a></span> -
                <span class="project-tagline">A billing system application coming soon</span>
            </div><!--//item-->
            <div class="item">
                <span class="project-title"><a href="http://www.syntacticalpro.com/" target="_blank">Android War</a></span> -
                <span class="project-tagline">A cross platform mobile game coming soon</span>
            </div><!--//item-->
            <div class="item">
                <span class="project-title"><a href="http://www.syntacticalpro.com/" target="_blank">AI Platformer</a></span> -
                <span class="project-tagline">A cross platform mobile game coming soon</span>
            </div><!--//item-->
        </section><!--//section-->

        <br />

        <section class="skills-section section">
            <h2 class="section-title">
                <i class="fa fa-rocket"></i>Skills &amp; Proficiency
            </h2>
            <div class="skillset">
                <div class="item">
                    <h3 class="level-title">C#.Net</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="85%">
                        </div>
                    </div><!--//level-bar-->
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">Xamarin.Forms</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="88%">
                        </div>
                    </div><!--//level-bar-->
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">ASP.NET Core</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="75%">
                        </div>
                    </div><!--//level-bar-->
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">AngularJs 2</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="80%">
                        </div>
                    </div><!--//level-bar-->
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">HTML5 &amp; CSS</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="60%">
                        </div>
                    </div><!--//level-bar-->
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">Unity3D</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="70%">
                        </div>
                    </div><!--//level-bar-->
                </div><!--//item-->
            </div>
        </section><!--//skills-section-->
        <section class="section-project section">
            <h2 class="section-title">
                <i class="fa fa-trophy"></i>Accomplishment
            </h2>
            <div class="skillset">
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">MVP</a></span> -
                    <span class="project-tagline">Awarded as Most the Valuable Professional twice csharpcorner.com for the year 2015 &amp; 2016.</span>
                </div><!--//item-->
            </div>
        </section><!--//Recognition-->
    </div><!--//main-body-->
</div>





<!--SignalR Region-->
@section Scripts{
    <script src="~/assets/js/main.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/Username.js"></script>
    <script src="~/Scripts/Index.js"></script>
    <script>
        $(document).ready(function () {
            //setup hub connection
            var hub = $.connection.echo;

            //setup notification hub
            hub.client.frnotify = function (friend, count) {
                $("span.notif." + friend + "> span").text(count);
                $("span.notif." + friend).addClass("red");
            }
            //end notification hub

            //setup request count hub
            hub.client.requestCount = function (username, count) {
                if (count > 0) {
                    $("span.notif." + username + "> span").text(count);
                } else {
                    $("span.notif." + username + "> span").text("");
                    $("span.notif." + username).removeClass("red");
                }
            }
            //end request count

            //In Connection
            hub.client.connectionCount = function (loggedInUser, userData, count, countTwo) {
                if (count > 0) {
                    $("span.friendCount." +loggedInUser+"> span").text(count);
                } else {
                    $("span.friendCount." + loggedInUser + "> span").text("0");
                }

                if (countTwo > 0) {
                    $("span.friendCount." + userData + "> span").text(countTwo);
                } else {
                    $("span.friendCount." + userData + "> span").text("0");
                }
            }
            //End In Connection

            //Connect to hub
            $.connection.hub.start().done(function () {

            //Connect request
                $("button.connect").click(function (e) {
                    e.preventDefault();
                    $(this).modal('hide');
                var friend = '@ViewBag.Username';
                var url = "/profile/connect";
                $.post(url, {
                    friend: friend
                }, function (data) {
                    $(".isFriendDiv").removeClass("alert-info").addClass("alert-warning").html("<p>Pending request</p>");
                }).done(function () {
                    hub.server.notify(friend);
                    });
            });
            //end connect

            //Accept request
            $("body").on("click", "a.accept", function (e) {
                e.preventDefault();
                var $this = $(this);
                var friendId = $this.data("id");
                var url = "profile/AcceptRequest";
                $.post(url, { friendId: friendId }, function (data) {
                }).done(function () {
                    $this.parent().fadeOut("fast");
                    //display total request
                    hub.server.requestCount();
                    //display total connected users
                    hub.server.connectionCount(friendId);
                });
            });
            //End accept request

            //Decline request
            $("body").on("click", "a.decline", function (e) {
                e.preventDefault();
                var $this = $(this);
                var friendId = $this.data("id");
                var url = "profile/DeclineRequest";
                $.post(url, { friendId: friendId }, function (data) {
                }).done(function () {
                    $this.parent().fadeOut("fast");
                    hub.server.requestCount();
                });
            });
            //End decline request

                //Send Message
            $("body").on("click", "button.sendmsg", function (e) {
                e.preventDefault();
                var $this = $(this);
                $(this).modal('hide');
                var friend = '@ViewBag.Username';
                var message = $("#msgarea").val();
                var url = "profile/SendMessage";
                $.post(url, { friend: friend, message: message }, function (data) {
                }).done(function () {
                    //hub.server.notifyofMessage(friend);
                    });
            });
            //End send message

            //Show Unread messages
            $("body").on("click", ".notif", function () {
                $("ul#ulMsg").empty();
                var url = "profile/DisplayUnreadMessages";
                $.post(url, {}, function (data) {
                    if (data.length > 0) {
                        $("ul#ulMsg").append("");
                    }
                    for (var i = 0; i < data.length; i++) {
                        var obj = data[i];
                        $("ul#ulMsg").append('<li class=msgnotifli> </li>');
                    }
                });
            });
            $("body").on("click", "ul#reqNotifyul li.close", function () {
                $("ul#ulMsg").empty();
            });
            //end show Unread msgs
            });
            //End hub

            //Show FriendRequests
            $("body").on("click", ".notif", function () {
                $("ul#reqNotifyul").empty();
                var url = "profile/FriendRequest";
                $.post(url, {}, function (data) {
                    if (data.length > 0) {
                        $("ul#reqNotifyul").append("");
                    }
                    for (var i = 0; i < data.length; i++) {
                        var obj = data[i];
                        $("ul#reqNotifyul").append('<li class=frnotifli><a href="/' + obj.Username
                            + '"><img src="uploads/' + obj.UserId + obj.Username + '.jpg" />' + ' ' + obj.Firstname +
                            ' ' + obj.Lastname + '</a> ' + '<a class=accept href=# data-id="' +
                            obj.UserId + '"><span class="glyphicon glyphicon-ok"></span></a>' +
                            ' ' + '<a class=decline href=# data-id="' + obj.UserId + '"><span class="glyphicon glyphicon-remove"></span></a> </li>');
                    }
                });
            });
            $("body").on("click", "ul#reqNotifyul li.close", function () {
                $("ul#reqNotifyul").empty();
            });
            //end show FriendRequests
        });
    </script>
}