@{
    ViewBag.Title = ViewBag.Username;
}

<link href="~/assets/css/styles.css" rel="stylesheet" />
<link href="~/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<div style="padding-top:32px"></div>
<p>@ViewBag.ValidateEmail</p>
<div class="wrapper">
    <div class="sidebar-wrapper">
        <div class="profile-container">
            <img class="profile img img-circle img-responsive" src="~/Uploads/@ViewBag.UserImage" alt="profile pic" />
            <h1 class="name">
                @ViewBag.FullName
                <span style="font-weight:bold" class="tagline">(@ViewBag.Role)</span>
            </h1>
            @if (@ViewBag.EntryYear != null) {
                <h3 class="batch">
                    <span class="year">
                        Batch -
                    </span>
                    @ViewBag.EntryYear
                </h3>
            } else if (@ViewBag.From != null) {
                <h3 class="batch">
                    <span class="year">
                        Since -
                    </span>
                    @ViewBag.From
                </h3>
            }

            <!-- #region Connect-->
            @if (ViewBag.UserType == "guest") {
                <div class="item">
                    @if (ViewBag.Friends == "Pending") {
                        <div class="isFriendDiv alert alert-warning">
                            <p>Pending request</p>
                        </div>
                    } else if (ViewBag.Friends == "True") {
                        <div class="isFriendDiv alert">
                            <button id="connectModal" class="btn btn-primary">Connect</button>
                            <div class="modal fade" id="connectionRequestModal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 style="color:#337ab7">Send Request</h4>
                                        </div>
                                        <div class="modal-body">
                                            @if (ViewBag.userType == "guest") {
                                                <!--Message area-->
                                                <div class="summary sendmsgParent">
                                                    <div class="msgtxtarea">
                                                        <textarea id="msgarea" placeholder="type your message here.." class="msgTextArea"></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    <button type="button" id="hideModal" class="connect sendmsg btn btn-primary" data-dismiss="modal">Connect</button>
                                                </div>
                                            }
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        </div>
                    } else {
                        <div class="isFriendDiv alert alert-success">
                            <span class="fa fa-thumbs-up"></span>
                            Connected
                        </div>
                    }
                </div>
            }
            <!-- #region Connections/Followers -->
            @if (ViewBag.Connection != null) {
                <span class="fa fa-users friendCount @User.Identity.Name">Connection(s) - <span>@ViewBag.Connection</span></span>
            } else {
                <span class="fa fa-users friendCount @User.Identity.Name">>Connection(s) - <span>@ViewBag.Connection</span></span>
            }
            <!-- #endregion Followers-->
            <!-- #endregion Connect Button-->
        </div>
        <!--profile-container-->

        <div class="contact-container container-block">
            <ul class="list-unstyled contact-list">
                <!-- #region City region -->
                <li class="email">
                    <i class="fa fa-home"></i>
                    <span>@ViewBag.City</span>
                </li>
                <!-- #endregion -->
                <!-- #region Email -->
                <li class="email">
                    <i class="glyphicon glyphicon-envelope"></i>
                    <a href="mailto: @ViewBag.Email">&nbsp;@ViewBag.Email</a>
                </li>
                <!-- #endregion -->
            </ul>
        </div>

        @if (ViewBag.Course != null) {
            <div class="education-container container-block">
                <h2 class="container-block-title">
                    <i class="fa fa-graduation-cap"></i>Education
                </h2>
                <div class="item">
                    <h4 class="degree">@ViewBag.Course</h4>
                    <h5 class="meta">Lovely Professional University</h5>
                    <div class="time">@ViewBag.EntryYear - @ViewBag.GraduateYear</div>
                </div><!--//item-->
            </div><!--//education-container-->
        } else if (ViewBag.Department != null) {
            <div class="education-container container-block">
                <h2 class="container-block-title">
                    <i class="fa fa-briefcase"></i>&nbsp;Department
                </h2>
                <div class="item">
                    <h4 class="degree">@ViewBag.Department</h4>
                    <h5 class="meta">Lovely Professional University</h5>
                    <div class="time">@ViewBag.From</div>
                </div><!--//item-->
            </div><!--//department-container-->
        }
    </div><!--//sidebar-wrapper-->
    <div class="main-wrapper">

        <!-- #region User Intro -->
        <section class="section summary-section">
            <h2 class="section-title" style="display:inline-block">
                <i class="fa fa-comment"></i>Bio
            </h2>
            @if (ViewBag.Intro == null) {
                if (ViewBag.UserType == "owner") {
                    @Html.Action("IntroPartial", "Account")
                }
            } else {
                if (ViewBag.UserType == "owner") {
                    @Html.Action("IntroUpdatePartial", "Account", new { id = ViewBag.IntroId }) 
                }
            }
            @if (ViewBag.Intro != null) {
                <span style="display:block" class="h5">
                    @ViewBag.Intro
                </span>
            } else {
                <span style="display:block" class="h5">Add Intro</span>
            }
        </section>
        <!-- #endregion -->
        <!-- #Education region -->
        <section class="section education-section">
            <h2 class="section-title" style="display:inline-block">
                <i class="fa fa-graduation-cap"></i>Education
            </h2>
            @if (ViewBag.UserType == "owner") {
                @Html.Action("EducationPartial", "Account")
            }
            @if (ViewBag.UserType != null) {
                if (ViewBag.Education != null) {
                    foreach (var item in ViewBag.Education) {
                        <div class="item">
                            <h5 class="degree">
                                @item.Degree.DegreeName
                                @if (ViewBag.UserType == "owner") {
                                    @*@Html.ActionLink(" ", "IntroUpdate", "Acount", new { id = item.EducationId, @class = "glyphicon glyphicon-pencil" })*@
                                }
                            </h5>
                            <h5 class="h5">@item.School</h5>
                            <h5 class="h5">@item.Course</h5>
                            <h5 class="h5">@item.EduFrom - @item.EduTo</h5>
                        </div>
                    }
                } else {
                    <p>No record</p>
                }
            }
        </section>
        <!-- #endregion -->
        <!-- #region WorkXP -->
        <section class="section experiences-section">
            <h2 class="section-title" style="display:inline-block">
                <i class="fa fa-briefcase"></i>Experiences
            </h2>
            @if (ViewBag.UserType == "owner") {
                @Html.Action("WorkExperiencePartial", "Account")
            }
            @if (ViewBag.UserType != null) {
                if (ViewBag.WorkXp != null) {
                    foreach (var item in ViewBag.WorkXp) {
                        <div class="item">
                            <h5 class="meta">
                                @item.Company
                                @if (ViewBag.UserType == "owner") {
                                    @*@Html.ActionLink(" ", "IntroUpdate", "Acount", new { @id = item.WorkxpId, @class = "glyphicon glyphicon-pencil" })*@
                                }
                            </h5>
                            <h5 class="meta">Designation - <span class="h5">@item.Designation</span></h5>
                            <h5 class="meta">City - <span class="h5">@item.City</span></h5>
                            <h5 class="meta">Country - <span class="h5">@item.Countries.CountryName</span></h5>
                            <h5 class="meta">From - <span class="h5">@item.MonthFrom.MonthName @item.WorkXpStart.YearName</span></h5>
                            @if (@item.IsCurrentlyWorking) {
                                <h5 class="meta">Currently Working here!</h5>
                            } else {
                                if (@item.MonthTo.MonthName != null && @item.WorkXpEnd.YearName != null) {
                                    <h5 class="meta">To - <span class="h5">@item.MonthTo.MonthName @item.WorkXpEnd.YearName</span></h5>
                                }
                            }
                        </div>
                    }
                } else {
                    <p>No record</p>
                }
            }
        </section>
        <!-- #endregion -->
        <!-- #region Project -->
        <section class="section projects-section">
            <h2 class="section-title" style="display:inline-block">
                <i class="fa fa-archive"></i>Projects
            </h2>
            @if (ViewBag.UserType == "owner") {
                @Html.Action("ProjectPartial", "Account")
            }
            @if (ViewBag.UserType != null) {
                if (ViewBag.Projects != null) {
                    foreach (var item in ViewBag.Projects) {
                        <div class="item">
                            <h5 class="meta">
                                <a href="@item.ProjectUrl" target="_blank">@item.ProjectName</a>
                                @if (ViewBag.UserType == "owner") {
                                    @*@Html.ActionLink(" ", "IntroUpdate", "Acount", new { @id = item.ProjectId, @class = "glyphicon glyphicon-pencil" })*@
                                }
                            </h5>
                            <span class="project-tagline">@item.ProjectDescription</span>
                            <h5 class="meta">From - <span class="h5">@item.FromMonth.MonthName @item.FromYear.YearName</span></h5>
                            @if (@item.ProjectOnGoing) {
                                <h5 class="meta">In development!</h5>
                            } else {
                                if (item.ToMonth.MonthName != null && @item.ToYear.YearName != null) {
                                    <h5 class="meta">To - <span class="h5">@item.ToMonth.MonthName @item.ToYear.YearName</span></h5>
                                }
                            }
                        </div>
                    }
                } else {
                    <p>No record</p>
                }
            }
        </section>
        <!-- #endregion -->
        <!-- #region Skills -->
        <section class="skills-section section">
            <h2 class="section-title" style="display:inline-block">
                <i class="fa fa-rocket"></i>Skills &amp; Proficiency
            </h2>
            @if (ViewBag.UserType == "owner") {
                @Html.Action("SkillPartial", "Account")
            }
            @if (ViewBag.Skills != null) {
                foreach (var item in ViewBag.Skills) {
                    <div class="item">
                        <h5 class="h5">
                            @item.Skill.SkillName

                            @if (ViewBag.UserType == "owner") {
                                @*@Html.ActionLink(" ", "IntroUpdate", "Acount", new { @id = item.UserSkillId, @class = "glyphicon glyphicon-pencil" })*@
                            }
                        </h5>
                    </div>
                }
            } else {
                <h3>Add Skills</h3>
            }
        </section>
        <!-- #endregion -->
        <!-- #region Achievements -->
        <section class="section-project section">
            <h2 class="section-title" style="display:inline-block">
                <i class="fa fa-trophy"></i>Accomplishment
            </h2>
            @if (ViewBag.UserType == "owner") {
                @Html.Action("AwardPartial", "Account")
            }

            @foreach (var item in ViewBag.Awards) {
                <div class="skillset">
                    <div class="item">
                        <h5 class="meta">
                            @item.Name
                            @if (ViewBag.UserType == "owner") {
                                @*@Html.ActionLink(" ", "IntroUpdate", "Acount", new { @id = item.AwardId, @class = "glyphicon glyphicon-pencil" })*@
                            }
                        </h5>
                        <h5 class="meta">Issuer - <span class="h5">@item.Issuer</span></h5>
                        <h5 class="project-tagline">Desciption - <span class="h5">@item.Description</span></h5>
                        <h5 class="meta">Period - <span class="h5">@item.Month.MonthName @item.Year.YearName</span></h5>
                    </div>
                </div>
            }
        </section>
        <!-- #endregion -->
    </div>
</div>
<div class="chat @User.Identity.Name">
    <ul class="list-group"></ul>
</div>
@section Scripts{
    <script src="~/assets/js/main.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/Username.js"></script>
    <script src="~/Scripts/Index.js"></script>
    <script>
        $(document).ready(function () {
            //setup hub connection
            var hub = $.connection.echo;

            //setup notification hub
            hub.client.frnotify = function (friend, count) {
                $("span.notif." + friend + "> span").text(count);
                $("span.notif." + friend).addClass("red");
            }
            //end notification hub

            //setup request count hub
            hub.client.requestCount = function (username, count) {
                if (count > 0) {
                    $("span.notif." + username + "> span").text(count);
                } else {
                    $("span.notif." + username + "> span").text("");
                    $("span.notif." + username).removeClass("red");
                }
            }
            //end request count

            //In Connection
            hub.client.connectionCount = function (loggedInUser, userData, count, countTwo) {
                if (count > 0) {
                    $("span.friendCount." + loggedInUser + "> span").text(count);
                } else {
                    $("span.friendCount." + loggedInUser + "> span").text("0");
                }

                if (countTwo > 0) {
                    $("span.friendCount." + userData + "> span").text(countTwo);
                } else {
                    $("span.friendCount." + userData + "> span").text("0");
                }
            }
            //End In Connection

            //Get online friends
            hub.client.getonlinefriends = function (user, data) {
                var result = JSON.parse(data);
                for (var i = 0; i < result.length; i++) {
                    var obj = result[i];
                    $(".chat." + user + "> ul").append('<li class="cf list-group-item list-group-success' + obj.id + '" data-id="' + obj.id + '"><img src="uploads/' + obj.id + obj.friend + '.jpg" /> ' + obj.friend + '</li>');
                    var chatbox = $(".chatbox").clone();
                    chatbox.attr("data-id", obj.id);
                    chatbox.attr("id", "cb" + obj.id);
                    chatbox.addClass("hidden");
                    chatbox.find("a.sendchat").attr("data-friend", obj.friend);
                    chatbox.find("a.sendchat").attr("data-id", obj.id);
                    chatbox.find("div.chatboxtext").attr("id", "cbtext" + obj.id);
                    $("#chb" + user).append(chatbox);
                    $("#chb" + user + " #cb" + obj.id + " h4 > span").html('<img src="uploads/' + obj.id + obj.friend + '.jpg" />');
                }
            }
            //end get online friends

            //Update friends online
            hub.client.updateChat = function (user, data) {
                var result = JSON.parse(data);
                $(".chat." + user + "> ul").empty();
                for (var i = 0; i < result.length; i++) {
                    var obj = result[i];
                    $(".chat." + user + "> ul").append('<li class="cf list-group-item list-group-success' + obj.id + '" data-id="' + obj.id + '"><img src="uploads/' + obj.id + obj.friend + '.jpg" /> ' + obj.friend + '</li>');
                    if (!($(".chatboxholder #cb" + obj.id).length)) {
                        var chatbox = $(".chatbox").clone();
                        chatbox.attr("data-id", obj.id);
                        chatbox.attr("id", "cb" + obj.id);
                        chatbox.addClass("hidden");
                        chatbox.find("a.sendchat").attr("data-friend", obj.friend);
                        chatbox.find("a.sendchat").attr("data-id", obj.id);
                        chatbox.find("div.chatboxtext").attr("id", "cbtext" + obj.id);
                        $("#chb" + user).append(chatbox);
                        $("#chb" + user + " #cb" + obj.id + " h4 > span").html('<img src="uploads/' + obj.id + obj.friend + '.jpg" />');
                    }
                }
            }
            //End update friends online

            //send chat message
            hub.client.sendChat = function (userId, user, friendId, friendUsername, message) {
                var a = $("#chb" + user + " div#cb" + friendId + " .chatboxtext");
                a.append("<img src=uploads/" + userId + user + ".jpg /> " + message + "<br />");
                a.scrollTop(a.prop("scrollHeight"));
                if ($("#chb" + friendUsername + " div#cb" + userId).hasClass("hidden")) {
                    $('li.cf' + userId).addClass("msg");
                }
                var b = $("#chb" + friendUsername + " div#cb" + userId + " .chatboxtext");
                b.append("<img src=uploads/" + userId + user + ".jpg /> " + message + "<br />");
                b.scrollTop(b.prop("scrollHeight"));
            }
            //

            //Connect to hub
            $.connection.hub.start().done(function () {
                //Connect request
                $("button.connect").click(function (e) {
                    e.preventDefault();
                    $(this).modal('hide');
                    var friend = '@ViewBag.Username';
                    var message = $('#msgarea').val();
                    var url = "/profile/connect";
                    $.post(url, {
                        friend: friend, message: message
                    }, function (data) {
                        $(".isFriendDiv").removeClass("alert-info").addClass("alert-warning").html("<p>Pending request</p>");
                    }).done(function () {
                        hub.server.notify(friend);
                    });
                });
                //end connect

                //Accept request
                $("body").on("click", "a.accept", function (e) {
                    e.preventDefault();
                    var $this = $(this);
                    var friendId = $this.data("id");
                    var url = "profile/AcceptRequest";
                    $.post(url, { friendId: friendId }, function (data) {
                    }).done(function () {
                        $this.parent().fadeOut("fast");
                        //display total request
                        hub.server.requestCount();
                        //display total connected users
                        hub.server.connectionCount(friendId);
                    });
                });
                //End accept request

                //Decline request
                $("body").on("click", "a.decline", function (e) {
                    e.preventDefault();
                    var $this = $(this);
                    var friendId = $this.data("id");
                    var url = "profile/DeclineRequest";
                    $.post(url, { friendId: friendId }, function (data) {
                    }).done(function () {
                        $this.parent().fadeOut("fast");
                        hub.server.requestCount();
                    });
                });
                //End decline request

                //Send chat message
                $("body").on("click", "a.sendchat", function (e) {
                    e.preventDefault();
                    var $this = $(this);
                    var friendId = $this.data("id");
                    var friendUsername = $this.data("friend");
                    var message = $this.parent().find("textarea").val();
                    $this.parent().find("textarea").val("");
                    hub.server.sendChat(friendId, friendUsername, message);
                });
                //End chat message
            });
            //End SignalR

                //Show FriendRequests
                $("body").on("click", ".notif", function () {
                    $("ul#reqNotifyul").empty();
                    var url = "profile/FriendRequest";
                    $.post(url, {}, function (data) {
                        if (data.length > 0) {
                            $("ul#reqNotifyul").append("");
                        }
                        for (var i = 0; i < data.length; i++) {
                            var obj = data[i];
                            $("ul#reqNotifyul").append('<li class=frnotifli><a href="/' + obj.Username
                                + '"><img src="uploads/' + obj.UserId + obj.Username + '.jpg" />' + ' ' + obj.Firstname +
                                ' ' + obj.Lastname + '</a> ' + '<a class=accept href=# data-id="' +
                                obj.UserId + '"><span class="glyphicon glyphicon-ok"></span></a>' +
                                ' ' + '<a class=decline href=# data-id="' + obj.UserId + '"><span class="glyphicon glyphicon-remove"></span></a> </li>');
                        }
                    });
                });
                $("body").on("click", "ul#reqNotifyul li.close", function () {
                    $("ul#reqNotifyul").empty();
                });
                //end show FriendRequests

                //display chatbox
                $("body").on("click", ".chat ul li", function () {
                    var $this = $(this);
                    if ($this.hasClass("msg")) $this.removeClass("msg");
                    var friend = $this.text().trim();
                    var chatboxNumber = $(".chatboxholder .chatbox:not(.hidden)").length;
                    var id = $this.data("id");
                    var left = 250;
                    var cb = $(".chatboxholder #cb" + id);
                    if (!cb.length) {
                        cb.css("left", left * chatboxNumber);
                    } else if (cb.hasClass("hidden")) {
                        cb.removeClass("hidden");
                        cb.css("right", right * chatboxNumber);
                    } else {
                        cb.addClass("hidden");
                        cb.css("right", right * chatboxNumber);
                    }
                });
                //end display chatbox
                $(".afc").removeClass("hide");
            });
    </script>
}